.forecast .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

table {
    margin-bottom: 20px;
    width: 80%;
}

.info {
    text-align: center;
}

.tdh {
    font-weight: 600;
    text-align: center;
}

.futureDay {
    font-weight: 600;
    font-size: 1.2rem;
    color: #4C623B;
}

#infoLow, #infoHigh, #infoHumidity, #infoRain {
    padding-bottom: 15px;
    padding-top: 10px;
}

.low, .high {
    text-align: right;
}

#plusOne, #plusTwo, #plusThree {
    width: 80%;
    height: 25%;

    display: flex;
    flex-direction: row;
}

.threeDays h3 {
    margin-right: 10px;
}

.temperature {
    width: 760px;
    height: 100px;
    background-color: #4C623B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.temperature div {
    display: inline-block;
    margin: 0;
}

.past {

    width: 190px;
    height: 100px;
}

.future {

    width: 190px;
    height: 100px;
}

.now {
    background-color: #F3ECAE;
    width: 400px;
    height: 160px;
    border-radius: 100px;
    border: 10px solid #4C623B;
    text-align: center;
    margin: auto;
}

#todayExp{
    display: inline-block;
    width: 200px;
    line-height: 140px;
    text-align: left;
    font-size: 2rem;
}

#todayTemp{
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 140px;
    font-size: 3rem;
    font-weight: 900;
}

.past, .future {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #F3ECAE;
}

#pastHour, #futureHour{
    display: block;
    font-size: 1rem;
    margin: 0;
    margin-top: 20px;
}

#pastTemp, #futureTemp{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
}

.explain {
    display: flex;
    justify-content: center;
}

#expText {
    margin-top: 170px;
    height: 150px;
}