body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 150px;
    /*border: 1px solid black;*/
}

header hr {
    position: relative;
    top: 50px;
    height: 15px;
    background-color: #ACA9A9;
    border: 0;
}

header button{
    border: 0;
    background: transparent;
    position: relative;
    left: 650px;
    top: 35px;
    z-index: 4;
}

header button:hover{
    transform: translateY(5px);
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 350px 300px 300px auto;
    padding-top: 150px;
    padding-bottom: 100px;

}
.threeDays div {
    /*border: 1px black solid;*/
}

main .userInfo {
    /*border: 1px black solid;*/
}

.userInfo .user {
    width: 300px;
    height: 550px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: 10px solid #D9D9D9;
    border-right: 10px solid #D9D9D9;
    border-bottom: 10px solid #D9D9D9;
    margin-top: 30px;
    background-color: #F0F0F0;
}

.user .profile {
    width: 200px;
    height: 300px;
    background: #C3C3C3;
    border: 10px solid #F0F0F0;
    border-radius: 30px;
    padding: 10px;

    margin-top: 30px;
    margin-left: 20px;
    border: 10px solid #D9D9D9;
    
    background-image: url("/tile.png");
    background-repeat: repeat;
    background-position: 30px 30px;
}

main .forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.forecast .info {
    display: flex;
    flex-direction: column;
}

.info h2 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.infoContainer {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    margin: auto;
    place-items: center;
}

.infoContainer div {
    width: 80px;
    height: 80px;
    background-color: #4C623B;
}

.info, .threeDays {
    border: 10px solid #D9D9D9;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 30px;
    background-color: #F0F0F0;
}

.threeDays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#plusOne, #plusTwo, #plusThree {
    width: 80%;
    height: 25%;

    display: flex;
    flex-direction: row;
}

.threeDays h3 {
    margin-right: 10px;
}

#windowBorder {
    background-color: #D9D9D9;
    border-radius: 70px;
    width: 800px;
    height: 500px;
}

#window {
    background: #C3C3C3;
    border: 10px solid #F0F0F0;
    border-radius: 60px;
    width: 760px;
    height: 460px;

    position: relative;
    top: -490px;
    left: 10px;

    background-image: url("/tile.png");
    background-repeat: repeat;
    background-position: 30px 30px;
}

.temperature {
    width: 760px;
    height: 160px;
    position: relative;
    top: -900px;
    left: 20px;
    z-index: 1;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.temperature div {
    display: inline-block;
    margin: 0;
}

.past {
    background-color: #4C623B;
    width: 190px;
    height: 100px;
}

.future {
    background-color: #4C623B;
    width: 190px;
    height: 100px;
}

.now {
    background-color: #F3ECAE;
    width: 400px;
    height: 160px;
    border-radius: 100px;
    position: relative;
    top: -1070px;
    left: 190px;
    z-index: 2;
    border: 10px solid #4C623B;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todayExp{
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: 2rem;
}

#todayTemp{
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.past, .future {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #F3ECAE;
}

#pastHour, #futureHour{
    display: block;
    font-size: 1rem;
    margin: 0;
    margin-top: 20px;
}

#pastTemp, #futureTemp{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
}

.todayWeather img{
    position: relative;
    top: -1120px;
    left: -100px;
    z-index: 5;
}

.explain {
    display: flex;
    justify-content: center;
}

#expText {
    margin-top: 170px;
    height: 150px;
    text-align: center;
}

footer {
    position: absolute;
    width: 100vw;
    height: 120px;
    top: 820px;
    background-color: gray;
}