<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>로그인</title>

    <!-- 백엔드 CSS/스크립트 확인 -->
    <!-- <link rel="stylesheet" href="../homeStyle.css"> -->
    <!-- 프론트 CSS/스크립트 확인 -->
    <link rel="stylesheet" href="../static/homeStyle.css">
</head>
<body>
<h1>Welcome to Weather Page</h1>
<div class="doorBorder">
</div>
<main>
    <div class="wrapper">
        <div class="loginInput">
            <form action="/login" method="POST">
                <!-- <form> -->
                <div class="inputAccount">
                    <div class="id">
                        <div class="idLabel"><label for="userid">ID</label></div>
                        <input type="text" id="userid" name="userid" placeholder="메일을 입력하세요">
                    </div>

                    <div class="password">
                        <div class="passwordLabel"><label for="pw">PW </label></div>
                        <input type="password" id="pw" name="pw" placeholder="비밀번호를 입력하세요">
                    </div>
                </div>
                <input name="year" style="display: none" value="" class="time">
                <input name="month" style="display: none" value="" class="time">
                <input name="date" style="display: none" value="" class="time">
                <input name="hour" style="display: none" value="" class="time">
                <input name="min" style="display: none" value="" class="time">
                <input name="sec" style="display: none" value="" class="time">

                <input name="latitude" style="display: none" value="" class="loc">
                <input name="longitude" style="display: none" value="" class="loc">

                <div class="submit">
                    <button type="submit" id="logIn"><span class="material-symbols-outlined">login</span></button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let now = new Date(); //날짜, 시간 객체
        let year = now.getFullYear();
        let month = now.getMonth()+1;
        let date = now.getDate();
        let hour = now.getHours(); //24시간제
        let min = now.getMinutes();
        let sec = now.getSeconds();

        navigator.geolocation.getCurrentPosition(Sucess, Error);
        function Sucess(position){
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;

            document.getElementsByClassName('loc')[0].setAttribute('value',latitude);
            document.getElementsByClassName('loc')[1].setAttribute('value',longitude);
        }

        function Error(position){
            document.getElementsByClassName('loc')[0].setAttribute('value','nodata');
            document.getElementsByClassName('loc')[1].setAttribute('value','nodata');
        }


        document.getElementsByClassName('time')[0].setAttribute('value',year);
        document.getElementsByClassName('time')[1].setAttribute('value',month);
        document.getElementsByClassName('time')[2].setAttribute('value',date);
        document.getElementsByClassName('time')[3].setAttribute('value',hour);
        document.getElementsByClassName('time')[4].setAttribute('value',min);
        document.getElementsByClassName('time')[5].setAttribute('value',sec);

    </script>

</main>
<div class="move">
    <!-- <p><a href="weather.html">홈</a></p> -->
    <p><a href="">아이디/비밀번호 찾기</a></p>
    <!-- <p><a href="createMemberForm.html">회원가입</a></p> -->
    <p><a href="/joinForm">회원가입</a></p>
</div>
</body>
</html>