<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- 백엔드 CSS/스크립트 확인 -->
    <!-- <link rel="stylesheet" href="../myPageStyle.css">
    <script src="../myPageScript.js" defer></script> -->
    <!-- 프론트 CSS/스크립트 -->
   <link rel="stylesheet" href="../static/myPageStyle.css">
   <script src="../static/myPageScript.js" defer></script>
</head>
<body>
    <header class="GNB">
        <a href="/logout"><button id="logOut"><span class="material-symbols-outlined">logout</span></button></a>
        <a href="/weather"><button id="home"><span class="material-symbols-outlined">home</span></button></a>
    </header>

    <div class="wrapper">
        <section class="profile">
                <div id="windowBorder">
                    <div id="window">
                            <div class="userInfo">
                                <p>
                                    <span class="infoTitle">ID</span>
                                    <span id="userId" th:text="${user.id}">fairy12</span>
                                </p>
                                <p>
                                    <span class="infoTitle">Nick Name</span>
                                    <span id="pUuserNickname" th:text="${user.nickname}">날씨 요정</span>
                                </p>
                                <p>
                                    <span id="userFavorite" th:text="${user.fvweather}">눈</span>
                                    <span>을 좋아합니다.</span>
                                </p>
                                <div class="btnWrapper">
                                    <button id="changePF">프로필 수정</button>
                                    <a href="#" onclick="window.open('/changePwform', '비밀번호 변경', 'width=500px, height=700px'); return false"><button id="changePW">비밀번호 변경</button></a>
                                </div>
                            </div>
                    </div>

                    <div class="favoriteWeatherIcon">
                        <img id="wicon" src="../static/seat.png" alt="wicon">
                    </div>
                </div>
        </section>
        <section class="favoriteWeather">
            <h3>Weather Archiving </h3>
            <div class="board">
                <div class="searchBar">
                    <form method="get" action="/myPage" class="searchForm">
                        <div class="searchCondition">
                            <span class="material-symbols-outlined">device_thermostat</span>
                            <select name="temp" id="sTemp">
                                <!-- value가 -1이면 검색 불가 -->
                                <option value="-1" selected>기온</option>
                                <option value="-999n-1">~ -1℃</option>
                                <option value="0n4">0℃ ~ 4℃</option>
                                <option value="5n8">5℃ ~ 8℃</option>
                                <option value="9n11">9℃ ~ 11℃</option>
                                <option value="12n16">12℃ ~ 16℃</option>
                                <option value="17n19">17℃ ~ 19℃</option>
                                <option value="20n22">20℃ ~ 22℃</option>
                                <option value="23n27">23℃ ~ 27℃</option>
                                <option value="28n999">28℃ ~</option>
                            </select>
                            <span class="material-symbols-outlined">water_drop</span>
                            <select name="humid" id="sHumid">
                                <option value="-1" selected>습도</option>
                                <option value="0n10">0 ~ 10%</option>
                                <option value="10n20">10 ~ 20%</option>
                                <option value="20n30">20 ~ 30%</option>
                                <option value="30n40">30 ~ 40%</option>
                                <option value="40n50">40 ~ 50%</option>
                                <option value="50n60">50 ~ 60%</option>
                                <option value="60n70">60 ~ 70%</option>
                                <option value="70n80">70 ~ 80%</option>
                                <option value="80n90">80 ~ 90%</option>
                                <option value="90n100">90 ~ 100%</option>
                            </select>
                            <span class="material-symbols-outlined">rainy</span>
                            <select name="prep" id="sRain">
                                <option value="-1" selected>강수량</option>
                                <option value="0n3">~ 3mm</option>
                                <option value="3n15">3 ~ 15mm</option>
                                <option value="15n30">15mm ~ 30mm</option>
                                <option value="30n999">30mm ~ </option>
                            </select>
                        </div>

                        <button class="sIcon" type="submit">
                            <span class="material-symbols-outlined">search</span>
                        </button>
                    </form>
                    <button class="rIcon" onClick="location.href='/myPage'">
                        <span class="material-symbols-outlined">refresh</span>
                    </button>
                </div>


                <ul class="fwList">
                    <!-- 리스트로 구현하기 -->
                    
                    <li class="fwItemWrapper" onclick="popUp()">
                        <article class="fwItem" th:each="record : ${records}">
                            <header class="fwHeader">
                                <h4 th:text="${record.rmd}">4월 26일</h4>
                                <span class="material-symbols-outlined" th:text="${record.wmsg}">sunny</span>
                            </header>
                            <div class="fwDetails">
                                <p class="fwTemp">
                                    <span class="material-symbols-outlined">device_thermostat</span>
                                    <span th:text="|${record.temp}°C|">20°C</span>
                                    <span th:text="${record.tfeel}">더워요</span>
                                </p>
                                <p class="fwHumidity">
                                    <span class="material-symbols-outlined">water_drop</span>
                                    <span th:text="|${record.humid}%|">20%</span>
                                    <span th:text="${record.hfeel}">건조해요</span>
                                </p>
                                <p class="fwRain">
                                    <span class="material-symbols-outlined">rainy</span>
                                    <span th:text="|${record.precip}mm|">0mm</span>
                                    <span th:text="${record.pfeel}">안와요</span>
                                </p>
                            </div>
                        </article>

                        <div class="saveDetailWrapper">
                            <div class="saveDetail">
                                <h4>상세정보</h4>
                                <div class="saveDetailInfo">
                                    <span><b>날짜</b></span> <span>2023.04.30</span>
                                    <br>
                                    <span><b>지역</b></span> <span>대구 달서구</span>
                                </div>
                                <div class="saveDetailBtn">
                                    <button id="saveDetailClose">닫기</button>
                                    <button id="saveDetailDelete">삭제</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="tempFunction">
                <button id="add">
                    <span class="material-symbols-outlined">add</span>
                </button>
                <button id="remove">
                    <span class="material-symbols-outlined">remove</span>
                </button>
            </div> -->
        </section>
    </div>
    <div class="changePFbackground">
        <div class="changePF">
            <button id="closeChangePF"><span class="material-symbols-outlined">close</span></button>
            <h3>프로필</h3>
            <form class="profileInfo" action="/updateProfile" method="post" class="profileForm">
                <div class="idWrapper">
                    <span>id</span>
                    <span id="userId" th:text="${user.id}">user</span>
                </div>
                <div class="nicknameWrapper">
                    <span>nickname</span>
                    <span id="userNickname" th:text="${user.nickname}">날씨요정</span>
                    <!-- <button id="changeNN">수정</button> -->
                    <input type="text" name="nickname" th:value="${user.nickname}" placeholder="변경할 닉네임을 입력하세요" id="changeNN">
                </div>
                <div class="fwWrapper">
                    <span>좋아하는 계절</span>
                    <span id="currentFw" th:text="${user.fvweather}">맑음</span>
                    <select name="" id="fw">
                        <option value="">변경할 계절을 선택하세요.</option>
                        <option value="맑음">맑음</option>
                        <option value="구름 많음">구름 많음</option>
                        <option value="흐림">흐림</option>
                        <option value="비">비</option>
                        <option value="눈">눈</option>
                    </select>
                    <!-- <button id="changeFW">수정</button> -->
                    <!-- <input type="text" name="fvweather" th:value="${user.fvweather}" placeholder="변경할 계절을 입력하세요" id="changeFW"> -->
                </div>
                <input type="submit" id="profileInfoChange" value="✓"> 
            </form>
        </div>
    </div>
    <!-- <div class="changePWbackground">
        <div class="changePW">
            <button id="closeChangePW"><span class="material-symbols-outlined">close</span></button>
            <h3>비밀번호 변경</h3>
            <form action="/update-pw" method="post">
                <label for="currentPW">현재 비밀번호</label>
                <input id="currentPW" name="curPw" type="password" placeholder="비밀번호를 입력하세요" oninput="checkCurrentPW(this.value)" onchange="confirmCurrentPW()">
                <label for="newPW">새로운 비밀번호</label>
                <input id="newPW" name="pw" type="password" placeholder="비밀번호를 입력하세요" oninput="checkNewPW(this.value)" onchange="confirmNewPW()">
                <label for="confirmPW">새로운 비밀번호 확인</label>
                <input id="confirmPW" type="password" placeholder="비밀번호를 입력하세요" oninput="checkConfirmPW(this.value)" onchange="completePWC()">
                <input type="submit" value="변경하기" id="changePW">
            </form>
        </div>
    </div> -->
</body>
</html>